@CHARSET "UTF-8";
/*

Font Set:

font-family: 'Astloch', cursive;
font-family: 'Lancelot', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Meddon', cursive;
font-family: 'Buda', sans-serif;
font-family: 'Megrim', cursive;
font-family: 'Monoton', cursive;

*/
body{
	margin: 0;
	padding: 0;	
}

/* Begin Top-bar */



#top-bar {
	height: 30px;
	width: 90%;
	margin: 0 auto;
	
	padding: 15px 25px;
	
	background: black;
	color: white;	
	
}

#user-actions{
	float: right;	
}

#user-actions li {
	float: left;
	padding: 0 10px;
		
}

#user-actions ul {
	list-style: none;	
	margin: 0;
}

#top-bar a{
	color: white;
	text-decoration: none;	
}

#top-bar a:hover {
	text-decoration: underline;	
}

/* End Top-bar */

#wrapper{
	height: 100%;
	width: 1200px;
	margin: 0 auto;
	border-radius: 10px;
}

/* Begin Page header */

#header{
	height: 150px;
	width: 100%;
	
	position: relative;
	
	background: rgba(0, 0, 120, 0.5);
}

/* End Page Header */

/* Begin Login Page */

#sign-up{
	width: 67%;
	margin: 0 auto;
	font-size: 177%;
}

#sign-up a{
	text-decoration: none;	
}

#login-wrapper{
	border-radius: 10px;
	box-shadow: 8px 13px 30px black;
	
	width: 800px;	
	margin: 0 auto;
	margin-top: 50px;
	background: lightBlue;
}

#login-content {
	height: 400px;
	width: 100%;
	
	position: relative;
	
	border-radius: 10px 10px 0 0;
}

#login-info {
	height: 300px;
	width: 400px;
	background: LightGreen;
	float: left;	
}

#login-form-wrapper {
	position: relative;
	float: left;
	
	height: 50%;
	width: 40%;
	
	top: 60px;
}



#login-content input{
	margin: 10px 0;
	
	height: 30px;
	width: 200px;
	float: right;
	
	font-size: 100%;
	
	text-align: center;
}


#login-content .submit {
	width: 150px;
	float: right;	
	
	position: relative;
	right: 21px;
}


#login-wrapper h1 {
	font-family: 'Monoton', cursive;
	font-size: 64px;
	
	margin: 0;
	
	text-align: center;	
	text-shadow: 5px 5px 8px grey;
}

#login-form-wrapper .error {
	background: #FFBAAC;
	border-radius: 6px;
	
	margin: 0 auto;
    text-align: center;
    width: 400px;
}

#login-content .error p{
	font-size: 24px;	
}

/* End Login Page */

/* Begin Registration */

#registration-form-wrapper{
	width: 65%;
	margin: 0 auto;	
}

#registration-form-wrapper input{
	width: 98%;
	font-size: 100%;
	height: 30px;
}



/* End Registration */



/* Begin Submit Photo Form */

#submit-photo-wrapper {
	width: 400px;	
}

#submit-photo-wrapper input#url{
	width: 100%;
}

#submit-photo-wrapper ul#privacy-settings{
	list-style: none;	
}

#submit-photo-wrapper ul#privacy-settings li{
	float: left;	
}

#submit-photo-wrapper ul#ratings {
	list-style: none;	
}

#submit-photo-wrapper ul#ratings li {
	float: left;
}

/* End Submit Photo Form */

/* Begin Create Circle Form */

#create-circle-wrapper{
	width: 400px;	
}	

/* End Create Circle Form */
	

	
/* Begin Top Bar Friend recommendations */
#top-scroll {
	height: 90px;
	width: 100%;
	background: green;
}

#top-scroll ul#recs {
	list-style: none;
}

#top-scroll ul#recs li{
	float:left;	
}



/* End Top Bar Friend recommendations */

/* Begin Homepage */

#content {
	min-height: 600px;
	width: 1170px;
	background: grey;
	
	padding: 15px;
}

#top-pics{
	min-height: 370px;
	width: 740px;
	margin: 15px 30px;
	
	float: left;
	
	background: blue; 
	
}

.top-pics-photo{
	height: 480px;
	width: 210px;
	
	margin: 10px;
	padding: 5px;
	float: left;
	
	background: white;
}

.top-pics-photo .img-wrap {
	height: 200px;
	width: 200px;
    display: table-cell;
    vertical-align: middle;
}

.top-pics-photo img{
	max-height: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	display: block;

}

ul.rating{
	list-style: none;
	margin: 0;
	padding:0;
}

ul.rating li{
	float: left;	
}
		
#activity-feed{
	width: 370px;
	min-height: 370px;
	
	float: left;
	
	background: brown;
}

.activity-feed-item{
	width: 90%;
	
	margin: 10px;
	float: left;
	
	background: yellow;
}

#activity-feed .img-wrap {
	height: 50px;
	width: 50px;
    display: table-cell;
    vertical-align: middle;
    background: white;
    float: left;
}

#activity-feed img{
	max-height: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
	display: block;
}
		
#friendship-browser{
	background: red;
	min-height: 400px;
	min-width: 400px;
}

#infovis {
  position: relative;
  width: 80%;
  height: 600px;
  margin: auto;
  overflow: hidden;
  background: grey;
  float: left;
}

#inner-details {
	display: none;
}

#friendship-photos {
	float: right;
	height: 600px;
	width: 220px;
	overflow: auto;
}

.friendship-photo {
	display: block;
	height: 200px;
	width: 200px;
	padding: 4px;
	padding-right: 1px;
}

/* End Homepage */

#footer {
	height: 150px;
	width: 100%;
	background: #FFB965;
	
	border-radius: 0 0 10px 10px;
}

p {
	font-family: 'Buda';
	margin: 0px;
	padding: 0px;
	font-size: small;
}

.clear{
	clear: both;	
}

.hidden{
	display: none;
}

.error-field {
	background: red;
}

.inst-attended{
	margin-top:5px;
}
